# Generate Actor Dataframes
This code will load the actors list from the wikipedia scraper JSON file, create a dataframe with them. Then we create a second dataframe from the CSV file of black actors, also from wikipedia, and we use regex to remove some of the elements that this one has that are irrelevant and must be removed to compare both dataframes. Lastly we do the comparison, giving a table with the actors name, and a 0 if they are no black, a 1 if they are

In [8]:
import pandas as pd
import json
from pandas import json_normalize
import re

# Or relative path, does not work sometimes, just uncomment it and comment the complete pathone
# actor_df = pd.read_json('data\metadata\movies_metadata.json', encoding='latin-1')
df = pd.read_json('D:\ITU\DataintheWild\Project\DITW_project-master\data\metadata\movies_metadata.json', encoding='latin-1')
actor_df = (df[df.index.isin( ['actors','title'])]
            .T
            .explode('actors')
            .reset_index())

actor_df

    index                           title                       actors
0       1          Exodus: Gods and Kings               Christian Bale
1       1          Exodus: Gods and Kings                Joel Edgerton
2       1          Exodus: Gods and Kings                John Turturro
3       1          Exodus: Gods and Kings                   Aaron Paul
4       1          Exodus: Gods and Kings               Ben Mendelsohn
5       1          Exodus: Gods and Kings             Sigourney Weaver
6       1          Exodus: Gods and Kings                 Ben Kingsley
7       2  The Little Mermaid (2023 film)                 Halle Bailey
8       2  The Little Mermaid (2023 film)             Jonah Hauer-King
9       2  The Little Mermaid (2023 film)                 Daveed Diggs
10      2  The Little Mermaid (2023 film)               Jacob Tremblay
11      2  The Little Mermaid (2023 film)                    Awkwafina
12      2  The Little Mermaid (2023 film)                    Art Malik
13      2  The Little Mermaid (2023 film)               Noma Dumezweni
14      2  The Little Mermaid (2023 film)                Javier Bardem
15      2  The Little Mermaid (2023 film)             Melissa McCarthy
16      3  Ghost in the Shell (2017 film)           Scarlett Johansson
17      3  Ghost in the Shell (2017 film)               Takeshi Kitano
18      3  Ghost in the Shell (2017 film)                 Michael Pitt
19      3  Ghost in the Shell (2017 film)                  Pilou Asbæk
20      3  Ghost in the Shell (2017 film)  Chin Han (actor, born 1969)
21      3  Ghost in the Shell (2017 film)             Juliette Binoche
22      4               Aloha (2015 film)               Bradley Cooper
23      4               Aloha (2015 film)                   Emma Stone
24      4               Aloha (2015 film)               Rachel McAdams
25      4               Aloha (2015 film)                  Bill Murray
26      4               Aloha (2015 film)               John Krasinski
27      4               Aloha (2015 film)                Danny McBride
28      4               Aloha (2015 film)                 Alec Baldwin
29      5           Stonewall (2015 film)                Jeremy Irvine
30      5           Stonewall (2015 film)              Jonny Beauchamp
31      5           Stonewall (2015 film)                    Joey King
32      5           Stonewall (2015 film)           Caleb Landry Jones
33      5           Stonewall (2015 film)                  Matt Craven
34      5           Stonewall (2015 film)         Jonathan Rhys Meyers
35      5           Stonewall (2015 film)                  Ron Perlman
36      6            Gods of Egypt (film)        Nikolaj Coster-Waldau
37      6            Gods of Egypt (film)             Brenton Thwaites
38      6            Gods of Egypt (film)             Chadwick Boseman
39      6            Gods of Egypt (film)                  Élodie Yung
40      6            Gods of Egypt (film)               Courtney Eaton
41      6            Gods of Egypt (film)                 Rufus Sewell
42      6            Gods of Egypt (film)                Gerard Butler
43      6            Gods of Egypt (film)                Geoffrey Rush

In [9]:
# Create second dataframe, with colored actors
# relative path, comment the other one if wish to change
#black_actor_path = 'data/actors.csv' 
black_actor_path = 'D:/ITU/DataintheWild/Project/DITW_project-master/data/actors.csv'

black_actor_df = pd.read_csv(black_actor_path, on_bad_lines='skip')
black_actor_df.head()

                                                  id
0                                Ernest Hogan – 1865
1  Matilda Sissieretta Joyner Jones (also known a...
2                              George H. Reed – 1866
3                                    Bob Cole – 1868
4                           Madame Sul-Te-Wan – 1873

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   44 non-null     int64
 1   title   44 non-null     object
 2   actors  44 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.2+ KB