# Generate Actor Dataframes
This code will load the actors list from the wikipedia scraper JSON file, create a dataframe with them. Then we create a second dataframe from the CSV file of black actors, also from wikipedia, and we use regex to remove some of the elements that this one has that are irrelevant and must be removed to compare both dataframes. Lastly we do the comparison, giving a table with the actors name, and a 0 if they are no black, a 1 if they are

In [1]:
import pandas as pd
import json
from pandas import json_normalize
import re

# Or relative path, does not work sometimes
#json_path = 'data\actors.csv'
data = json.load(open('D:\ITU\DataintheWild\Project\DITW_project-master\data\metadata\movies_metadata.json'))

In [2]:
# Create dataframe from list of actors from json file

df = pd.DataFrame(
    [actor for v in data.values() for actor in v["actors"]], columns=["Actors"])
df.head()

           Actors
0  Christian Bale
1   Joel Edgerton
2   John Turturro
3      Aaron Paul
4  Ben Mendelsohn

In [3]:
# Create second dataframe, with colored actors

# relative path, comment the other one if wish to change
#black_actor_path = 'data/actors.csv' 

black_actor_path = 'D:/ITU/DataintheWild/Project/DITW_project-master/data/actors.csv'

black_actor_df = pd.read_csv(black_actor_path, on_bad_lines='skip')
black_actor_df.head()

                                                  id
0                                Ernest Hogan – 1865
1  Matilda Sissieretta Joyner Jones (also known a...
2                              George H. Reed – 1866
3                                    Bob Cole – 1868
4                           Madame Sul-Te-Wan – 1873

In [4]:
# Use regex to remove the numbers, and other items that the black actor dataframe has, which are 
# their birth dates and other irrelevant information

regex = '|'.join(map(re.escape, df['Actors']))
actors = black_actor_df['id'].str.extract(f'({regex})', expand=False).dropna()

df.assign(indf=df['Actors'].isin(actors).astype(int))

                         Actors  indf
0                Christian Bale     0
1                 Joel Edgerton     0
2                 John Turturro     0
3                    Aaron Paul     0
4                Ben Mendelsohn     0
5              Sigourney Weaver     0
6                  Ben Kingsley     0
7                  Halle Bailey     1
8              Jonah Hauer-King     0
9                  Daveed Diggs     1
10               Jacob Tremblay     0
11                    Awkwafina     0
12                    Art Malik     0
13               Noma Dumezweni     1
14                Javier Bardem     0
15             Melissa McCarthy     0
16           Scarlett Johansson     0
17               Takeshi Kitano     0
18                 Michael Pitt     0
19                  Pilou Asbæk     0
20  Chin Han (actor, born 1969)     0
21             Juliette Binoche     0
22               Bradley Cooper     0
23                   Emma Stone     0
24               Rachel McAdams     0
25                  Bill Murray     0
26               John Krasinski     0
27                Danny McBride     0
28                 Alec Baldwin     0
29                Jeremy Irvine     0
30              Jonny Beauchamp     0
31                    Joey King     0
32           Caleb Landry Jones     0
33                  Matt Craven     0
34         Jonathan Rhys Meyers     0
35                  Ron Perlman     0
36        Nikolaj Coster-Waldau     0
37             Brenton Thwaites     0
38             Chadwick Boseman     1
39                  Élodie Yung     0
40               Courtney Eaton     0
41                 Rufus Sewell     0
42                Gerard Butler     0
43                Geoffrey Rush     0